.question {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    top: 25vh;
}

.btn {
    text-transform: uppercase;
    top: 25vh;
    position: relative;
    width: 30vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    border: #fff solid 1px;
    color: #fff;
    font-size: 1em;
    background-color: rgba(0,0,0,0);
}

@media(max-width: 768px) {
    .btn {
        width: 90vw;
    }
}